#app {
    
    $inner-header-height: 30px;
    width: 500px;
    margin: auto;


    .left-element {
        float: left;  
    }

    .right-element {
        float: right;  
    }

    #comment-section {
              
        #comment-section-header {
            height: 52px;
            color: #f1f1f1;
            font-size: 19px;
            margin-bottom: 25px;
        }

        select {
            background-color: #EBEBEB;
            border-radius: 15px;
            // padding: 10px;
        }


        p {
            margin-left: 10px;
        }
        
        select { 
            height: 26px;    
            margin-top: 13px;
            margin-right: 10px;
        }
    }

    .comment {
        
        margin-bottom: 25px;
        
        .comment-header {
            display: flex;
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            background: #DBDBDB;
            padding: 10px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            .children {
                display: flex;
            }

            // ????
            .child {
                font-size: 30px;
            }

            img {
                height: $inner-header-height;
                width: $inner-header-height;
            }
        
            h6 {
                font-size: 15px;
                margin:0px;
                text-align: left;
            }
    
            .comment-info {
                margin-left: 5px;
            }
            
            .comment-author {
        
            }
            
            .comment-date {
                opacity: 0.5;
            }
        }

        .comment-body {
            background-color: #fff;
            padding:10px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            .comment-text {
                margin: 0;
                padding: 0;
            }
        }   
    }

    #create-comment-field {

        margin-top: 150px;

        #comment-author-input-field {
            width: 50%;
        }

        .comment-input-field {
            width: 100%;
            height: 30px;
            margin-bottom: 20px;
        }

        #comment-text-area {
            width: 100%;
            height: 150px;
            background-color: rgba(244,244,244,30);
            resize: none;
        }        
    }

    .comment-input-header {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }
}

