


#comment-section {
    width: 700px;
    margin:auto;
            
    #comment-section-header {
        height: 52px;
        color: #f1f1f1;
        font-size: 19px;
        margin-bottom: 25px;

        .left-element {
            float: left;  
        }

        .right-element {
            float: right;  
        }

    }
    
    select {
        background-color: #EBEBEB;
        height: 26px;    
        margin-top: 13px;
        margin-right: 10px;
        border-radius: 15px;
        text-align:center;
        text-align-last:center; // chrome workaround
        &:focus {
            outline: none;
        }
    }

    p {
        margin-left: 10px;
    }


    #comment-section-body {
        #no-comments-info {

            text-align:center;
            margin:auto;
            
            #no-comments-info-header {
                font-size: 30px;
            }

            #no-comments-info-body {
                margin-top: 10px;
                font-size: 25px;
            }
        }
    }



}

.comment {
    
    width:600px;
    margin:auto;
    margin-bottom: 40px;
    
    .comment-header {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        background: #DBDBDB;
        padding: 10px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        .children {
            display: flex;
        }

        // ????
        .child {
            font-size: 30px;
        }

        img {
            height: 30px;
            width: 30px;
        }
    
        h6 {
            font-size: 15px;
            margin:0px;
            text-align: left;
        }

        .comment-info {
            margin-left: 5px;
        }
        
        .comment-author {
            margin-bottom: 2px;
        }
        
        .comment-date {
            opacity: 0.5;
        }
    }

    .comment-body {
        background-color: #fff;
        padding:10px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        .comment-text {
            margin: 0;
            padding: 0;
        }
    }   
}

#create-comment-field {

    $createCommentSectionWidth: 500px;
    $fontSize: 16px;

    width: $createCommentSectionWidth;    
    margin:auto;
    margin-top: 100px;

    #comment-author-input-field {
        margin-right:25px;
    }

    #email-input-field {
    }

    .comment-input-field, .avatar-input-field {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: none;
        padding-left: 5px;
        margin-bottom: 20px;
    }
    
    input, textarea {
        padding: 16px;
        font-size: $fontSize;

        &:focus {
            outline: none;
        }
    }

    #comment-text-area {
        width: 100%;
        height: 150px;
        background-color: rgba(244,244,244,30);
        resize: none;
        padding: 10px;
    }   

    #captcha-field {

        height:60px;

        #captcha-question-field {
            width: 40%;
            background-color: red;    
            
            #captcha-question { 
                height: 40px;
                margin-top: 20px;
                padding:0px;
            }
        }
        
        #captcha-answer-field {
            background-color: blue;
            width: 60%;
            
            #captcha-answer {
                height: 40px;
                border:none; 
                border-radius:10px;
                width: 90%;
                margin-top:10px;
                margin-left: 10px;
                font-size:15px;
            }
        }
    }


    #submit-comment-field {
        
        height: 70px;
        display: flex;
        // background-color: green;

        #attach-avatar-field {
            // width: $createCommentSectionWidth * (2/3);
            margin-top: 10px;
            width: 40px;
            height: 50px;
            // background-color: purple;
            position:relative;
    
            #attach-icon {
                width: 30px;
                height: 30px;
                position:absolute;
                left: 15px;
                margin-top: 10px;
                border-radius: 4px;
                background-image: url("../img/attachment.png");
                background-repeat: no-repeat;
                background-color: #f1f1f1;
                padding:3px;
                background-position: center;

                &:hover {
                    background-color: #333333;
                    cursor: pointer;            
                    background-image: url("../img/attachment_hover.png");
                }
            }
        }


        #avatar-input-field {
            display:none;
            width:100%;
            padding: 0px;
            padding-left:   10px;
            border-radius: 10px;
            border: none;
        }

        #submit-comment-button-field {
            position: relative;
        }
    
        #submit-comment-button {
            padding: 10px;
            position:absolute;
            font-size: 15px;
            right: 0px;
            height: 60px;
            width:100%;
            display:flex;
            margin-top: 5px;
            border: #333333 2px solid;
            color: #333333;
            background-color: #f1f1f1;
            text-align: center;
    
            &:hover {
                color: #f1f1f1;
                background-color: #333333;
                border-color: #f1f1f1;
                cursor: pointer;
            }

            p {
                padding:0;
                margin:0;
                margin:auto;
                margin-top: 10px;
            }
        }
    }
    
    
}


