#comment-section {
  width: 500px; }
  #comment-section #comment-section-header {
    height: 52px;
    color: #f1f1f1;
    font-size: 19px;
    margin-bottom: 25px; }
    #comment-section #comment-section-header .left-element {
      float: left; }
    #comment-section #comment-section-header .right-element {
      float: right; }
  #comment-section select {
    background-color: #EBEBEB;
    border-radius: 15px; }
  #comment-section select:focus {
    outline: none; }
  #comment-section p {
    margin-left: 10px; }
  #comment-section select {
    height: 26px;
    margin-top: 13px;
    margin-right: 10px; }

.comment {
  width: 600px;
  margin: auto;
  margin-bottom: 40px; }
  .comment .comment-header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #DBDBDB;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .comment .comment-header .children {
      display: flex; }
    .comment .comment-header .child {
      font-size: 30px; }
    .comment .comment-header img {
      height: 30px;
      width: 30px; }
    .comment .comment-header h6 {
      font-size: 15px;
      margin: 0px;
      text-align: left; }
    .comment .comment-header .comment-info {
      margin-left: 5px; }
    .comment .comment-header .comment-author {
      margin-bottom: 2px; }
    .comment .comment-header .comment-date {
      opacity: 0.5; }
  .comment .comment-body {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
    .comment .comment-body .comment-text {
      margin: 0;
      padding: 0; }

#create-comment-field {
  margin-top: 150px; }
  #create-comment-field #comment-author-input-field {
    width: 50%; }
  #create-comment-field .comment-input-field {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    margin-bottom: 20px; }
  #create-comment-field .comment-input-field:focus {
    outline: none; }
  #create-comment-field #comment-text-area {
    width: 100%;
    height: 150px;
    background-color: #f4f4f4;
    resize: none;
    padding: 10px; }
  #create-comment-field #captcha-question {
    width: 150px; }
