#comment-section {
  width: 700px;
  margin: auto; }
  #comment-section #comment-section-header {
    height: 52px;
    color: #f1f1f1;
    font-size: 19px;
    margin-bottom: 25px; }
    #comment-section #comment-section-header .left-element {
      float: left; }
    #comment-section #comment-section-header .right-element {
      float: right; }
  #comment-section select {
    background-color: #EBEBEB;
    height: 26px;
    margin-top: 13px;
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;
    text-align-last: center; }
    #comment-section select:focus {
      outline: none; }
  #comment-section p {
    margin-left: 10px; }
  #comment-section #comment-section-body #no-comments-info {
    text-align: center;
    margin: auto; }
    #comment-section #comment-section-body #no-comments-info #no-comments-info-header {
      font-size: 30px; }
    #comment-section #comment-section-body #no-comments-info #no-comments-info-body {
      margin-top: 10px;
      font-size: 25px; }

.comment {
  width: 600px;
  margin: auto;
  margin-bottom: 40px; }
  .comment .comment-header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #DBDBDB;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .comment .comment-header .children {
      display: flex; }
    .comment .comment-header .child {
      font-size: 30px; }
    .comment .comment-header img {
      height: 30px;
      width: 30px; }
    .comment .comment-header h6 {
      font-size: 15px;
      margin: 0px;
      text-align: left; }
    .comment .comment-header .comment-info {
      margin-left: 5px; }
    .comment .comment-header .comment-author {
      margin-bottom: 2px; }
    .comment .comment-header .comment-date {
      opacity: 0.5; }
  .comment .comment-body {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
    .comment .comment-body .comment-text {
      margin: 0;
      padding: 0; }

#create-comment-field {
  width: 500px;
  margin: auto;
  margin-top: 100px; }
  #create-comment-field #comment-author-input-field {
    margin-right: 25px; }
  #create-comment-field .comment-input-field, #create-comment-field .avatar-input-field {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    margin-bottom: 20px; }
  #create-comment-field input, #create-comment-field textarea {
    padding: 16px;
    font-size: 16px; }
    #create-comment-field input:focus, #create-comment-field textarea:focus {
      outline: none; }
  #create-comment-field #comment-text-area {
    width: 100%;
    height: 150px;
    background-color: #f4f4f4;
    resize: none;
    padding: 10px; }
  #create-comment-field #captcha-field {
    height: 60px; }
    #create-comment-field #captcha-field #captcha-question-field {
      width: 40%; }
      #create-comment-field #captcha-field #captcha-question-field #captcha-question {
        height: 40px;
        margin-top: 18px;
        padding: 0px;
        font-size: 20px;
        text-align: right; }
    #create-comment-field #captcha-field #captcha-answer-field {
      width: 60%; }
      #create-comment-field #captcha-field #captcha-answer-field #captcha-answer {
        height: 40px;
        border: none;
        border-radius: 10px;
        width: 90%;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px; }
  #create-comment-field #submit-comment-field {
    height: 70px;
    display: flex; }
    #create-comment-field #submit-comment-field #attach-avatar-field {
      margin-top: 10px;
      width: 40px;
      height: 50px;
      position: relative; }
      #create-comment-field #submit-comment-field #attach-avatar-field #attach-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 15px;
        margin-top: 10px;
        border-radius: 4px;
        background-image: url("../img/attachment.png");
        background-repeat: no-repeat;
        background-color: #f1f1f1;
        padding: 3px;
        background-position: center; }
        #create-comment-field #submit-comment-field #attach-avatar-field #attach-icon:hover {
          background-color: #333333;
          cursor: pointer;
          background-image: url("../img/attachment_hover.png"); }
    #create-comment-field #submit-comment-field #avatar-input-field {
      display: none;
      width: 100%;
      padding: 0px;
      padding-left: 10px;
      border-radius: 10px;
      border: none; }
    #create-comment-field #submit-comment-field #submit-comment-button-field {
      position: relative; }
    #create-comment-field #submit-comment-field #submit-comment-button {
      padding: 10px;
      position: absolute;
      font-size: 15px;
      right: 0px;
      height: 60px;
      width: 100%;
      display: flex;
      margin-top: 5px;
      border: #333333 2px solid;
      color: #333333;
      background-color: #f1f1f1;
      text-align: center; }
      #create-comment-field #submit-comment-field #submit-comment-button:hover {
        color: #f1f1f1;
        background-color: #333333;
        border-color: #f1f1f1;
        cursor: pointer; }
      #create-comment-field #submit-comment-field #submit-comment-button p {
        padding: 0;
        margin: 0;
        margin: auto;
        margin-top: 10px; }
