* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: "Lato", sans-serif;
  margin: 0;
}

header {
  width: 70%;
  display: flex;
  margin: 0 auto 0 auto;
  height: 100px;
}

.logo {
  width: 170px;
  height: 100px;
}

.logo-anchor {
  padding: 0px;
}

.navigation {
  width: 100%;
}

#main {
  width: 70%;
  margin: auto;
  padding-bottom: 40px;
  background: #fcfcfc;
}

.right-aligned {
  float: right;
}

.row {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigation-item img {
  height: 80px;
  background: url("../img/logo_white.png");
  background-size: 188px 80px;
}

.navigation-item img:hover {
  background: url("../img/logo_black.png");
  background-size: 188px 80px;
}

.navigation-item {
  height: 100px;
}

.navigation-left-item {
  float: left;
}

.navigation-right-item {
  float: right;
}

.navigation-item a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation-right-item a {
  padding-top: 40px;
  font-size: 18px;
  padding-bottom: 40px;
}

.navigation-item a:hover, .dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  color: black;
}

.navigation-item.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  height: 100px;
}

@media only screen and (max-width: 1200px) {
  #main {
    width: 80%;
  }
  header {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  .row {
    flex-direction: column;
  }
  header {
    width: 90%;
  }
  #main {
    width: 90%;
  }
}
