* {
    box-sizing: border-box;
}

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}

header {
    width: 60%;
}

#main {
  width: 60%;
  margin:auto;
}

#panorama {
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#person-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding-top:30px;
  font-size: 30px;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#person-panel > img {
  border-radius: 50%;
  width:  200px;
  height: 200px;
}

#about-me {
  width: 100%;
  margin:auto;
}

#about-me > p {
  text-align: justify;
}
.menu-button {
  background: transparent;
  border:solid 3px;
  border-color: #f1f1f1;
  border-radius: 10%;
  width: 200px;
  height: 80px;
  font-size: 25px;
}

.panel {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width:1300px) {
  #person-panel {
    padding-top:0px;
  }
  #main {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  #main {
    width: 90%;
  }
  .lecture > h2 {
    font-size:25px
  }
  .faculty {
    margin-top: 15px;
  }
  .faculty-header {
    font-size: 15px;
    text-align:center;
  }

}
