.lecture {
  background: rgba(16, 15, 93, 0.8);
  padding-top:10px;
}

.lecture > h2 {
  font-size: 35px;
  text-align:center;
}

.faculty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faculty-content {
  width: 100%;
}

.faculty-header {
  font-size: 22px;
}

.content > button {
  background-color:red
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

li {

}

button {
    width:  150px;
    height: 50px;
    border: 2px solid;
    background: #f1f1f1;
}


button:hover {
    background: #594E4E;
}

.lecture {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom:30px;
}

footer {
  height: 100px;
}

.timeline-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
