#main {
  width: 70%;
  margin: auto;
}

#about-me {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#panorama-panel {
  top:   200px;
  font-weight: bold;
  font-size: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about-me {
  width: 100%;
  margin: auto;
}

#about-me>p {
  text-align: justify;
}

.menu-button {
  width: 200px;
  height: 80px;
  background: transparent;
  border: solid 3px;
  border-color: #f1f1f1;
  border-radius: 10%;
  font-size: 25px;
}

.timeline-button {
  width: 150px;
  height: 50px;
  border: solid 2px;
  color: #333333;
  border-color: #333332;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  background-color: transparent;
}

.timeline-button:hover {
  width: 150px;
  height: 50px;
  color: white;
  border-color: #333332;
  background-color: #333333;
}

.panel {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width:1300px) {
  #person-panel {
    padding-top: 0px;
  }
  #main {
    width: 80%;
  }
  header {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  #main {
    width: 90%;
  }
  .lecture>h2 {
    font-size: 25px
  }
  .faculty {
    margin-top: 15px;
  }
  .faculty-header {
    font-size: 15px;
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
  header {
    width: 90%;
  }
  #person-panel {
    width: 70%;
  }
}
