#app {
  width: 500px;
  margin: auto; }
  #app .left-element {
    float: left; }
  #app .right-element {
    float: right; }
  #app #comment-section #comment-section-header {
    height: 52px;
    color: #f1f1f1;
    font-size: 19px;
    margin-bottom: 25px; }
  #app #comment-section select {
    background-color: #EBEBEB;
    border-radius: 15px; }
  #app #comment-section select:focus {
    outline: none; }
  #app #comment-section p {
    margin-left: 10px; }
  #app #comment-section select {
    height: 26px;
    margin-top: 13px;
    margin-right: 10px; }
  #app .comment {
    margin-bottom: 25px; }
    #app .comment .comment-header {
      display: flex;
      width: 100%;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      background: #DBDBDB;
      padding: 10px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
      #app .comment .comment-header .children {
        display: flex; }
      #app .comment .comment-header .child {
        font-size: 30px; }
      #app .comment .comment-header img {
        height: 30px;
        width: 30px; }
      #app .comment .comment-header h6 {
        font-size: 15px;
        margin: 0px;
        text-align: left; }
      #app .comment .comment-header .comment-info {
        margin-left: 5px; }
      #app .comment .comment-header .comment-date {
        opacity: 0.5; }
    #app .comment .comment-body {
      background-color: #fff;
      padding: 10px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
      #app .comment .comment-body .comment-text {
        margin: 0;
        padding: 0; }
  #app #create-comment-field {
    margin-top: 150px; }
    #app #create-comment-field #comment-author-input-field {
      width: 50%; }
    #app #create-comment-field .comment-input-field {
      width: 100%;
      height: 30px;
      border-radius: 10px;
      border: none;
      padding-left: 5px;
      margin-bottom: 20px; }
    #app #create-comment-field .comment-input-field:focus {
      outline: none; }
    #app #create-comment-field #comment-text-area {
      width: 100%;
      height: 150px;
      background-color: #f4f4f4;
      resize: none;
      padding: 10px; }
    #app #create-comment-field #captcha-question {
      width: 150px; }
  #app .comment-input-header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between; }

#app {
  width: 500px;
  margin: auto; }
  #app .left-element {
    float: left; }
  #app .right-element {
    float: right; }
  #app #comment-section #comment-section-header {
    height: 52px;
    color: #f1f1f1;
    font-size: 19px;
    margin-bottom: 25px; }
  #app #comment-section select {
    background-color: #EBEBEB;
    border-radius: 15px; }
  #app #comment-section select:focus {
    outline: none; }
  #app #comment-section p {
    margin-left: 10px; }
  #app #comment-section select {
    height: 26px;
    margin-top: 13px;
    margin-right: 10px; }
  #app .comment {
    margin-bottom: 25px; }
    #app .comment .comment-header {
      display: flex;
      width: 100%;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      background: #DBDBDB;
      padding: 10px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
      #app .comment .comment-header .children {
        display: flex; }
      #app .comment .comment-header .child {
        font-size: 30px; }
      #app .comment .comment-header img {
        height: 30px;
        width: 30px; }
      #app .comment .comment-header h6 {
        font-size: 15px;
        margin: 0px;
        text-align: left; }
      #app .comment .comment-header .comment-info {
        margin-left: 5px; }
      #app .comment .comment-header .comment-date {
        opacity: 0.5; }
    #app .comment .comment-body {
      background-color: #fff;
      padding: 10px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
      #app .comment .comment-body .comment-text {
        margin: 0;
        padding: 0; }
  #app #create-comment-field {
    margin-top: 150px; }
    #app #create-comment-field #comment-author-input-field {
      width: 50%; }
    #app #create-comment-field .comment-input-field {
      width: 100%;
      height: 30px;
      border-radius: 10px;
      border: none;
      padding-left: 5px;
      margin-bottom: 20px; }
    #app #create-comment-field .comment-input-field:focus {
      outline: none; }
    #app #create-comment-field #comment-text-area {
      width: 100%;
      height: 150px;
      background-color: #f4f4f4;
      resize: none;
      padding: 10px; }
    #app #create-comment-field #captcha-question {
      width: 150px; }
  #app .comment-input-header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between; }
