#panorama {
  background-image: url('../images/hobbies.png');
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  /* padding-top:30px; */
  font-size: 30px;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#hobbies-menu {
  background:  #FCFCFC;
  padding-top:    30px;
  padding-bottom: 30px;
  text-align:center;
}

#hobbies-menu > h2 {
  font-size: 40px;
}

#hobbies-menu > p {
  padding-left:   30px;
  padding-right:  30px;
  padding-bottom: 40px;
}

.hobbies-panel {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.hobbies-panel  img {
  width: 250px;
  height: 150px;
}

.button-tile {
  display: flex;
  flex-direction:column;
}
.hobbies-panel a {
  text-decoration: none;
}

button > p {
  padding: 0;
  margin:0;
}

button {
  background: transparent;
  border:solid 2px;
  border-color: #333333;
  width: 250px;
  height: 80px;
  font-size: 25px;
  text-decoration: none;
}

button:hover {
  border-color: transparent;
  color: #f1f1f1;
  background: #333333;
}

@media only screen and (max-width: 640px) {
  #main {
    width: 90%;
  }
  .row {
      flex-direction: column;
  }
  .hobbies-panel {
    margin-top:25px;
  }
  .navbar-item img {
    height: 50px;
  }
}
