* {
    box-sizing: border-box;
}

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}

#panorama {
  background-image: url('../images/front.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#person-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding-top:30px;
  font-size: 30px;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#person-panel > img {
  border-radius: 50%;
  width:  200px;
  height: 200px;
}

#about-me {
  width: 100%;
  margin:auto;
  text-align:justify;
  background: #fcfcfc;
  padding-left:   30px;
  padding-right:  30px;
  padding-bottom: 20px;
  padding-top:20px;
}

.panels {
  background: #fcfcfc;
  padding-left:   15px;
  padding-right:  15px;
  padding-bottom: 30px;
}

.menu-button {
  background: transparent;
  border:solid 3px;
  cursor: pointer;
  text-align: center;
  padding-top: 25px;
  text-decoration: none;
  color: #333333;
  border-color: #333333;
  width: 200px;
  height: 80px;
  font-size: 25px;
}

.menu-button:hover {
  border-color: transparent;
  color: #f1f1f1;
  background: #333333;
}

.panel {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  background: #dbd9d9;
  padding: 20px;
  text-align: justify;
}

ul {
  width: 100%;
}


@media only screen and (max-width: 640px) {
    #main {
      width:90%;
    }
    #panorama {
      height:300px;
    }
    #person-panel {
      font-size: 20px;
      width: 100%;
    }
    #person-panel > img {
      border-radius: 50%;
      width:  100px;
      height: 100px;
    }
    .panel {
      margin-top:15px;
    }
}
