#content {
  width:80%;
  margin: auto;
}
.year {
  margin-top: 50px;
}

.year-header {

}

.year-number {
  text-align:center;
  font-size:50px;
}

.book-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  font-size: 30px;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.author {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #8B8B8B;
  padding-top:15px;
  text-align: center;
  font-size:35px;
  width:100%
}

.author > h2 {
  font-size: 30px;
}

.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.book-cover > img {
  width: 40%;
  margin:auto;
}

.description {
  background-color: #8B8B8B;
  padding-left:   30px;
  padding-right:  30px;
  padding-top:    20px;
  padding-bottom: 20px;
  text-align: justify;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.description > p {
  font-size: 15px;
}

@media only screen and (max-width: 1280px) {
  #content {
    width: 100%;
  }
  #main {
    width: 70%;
  }

  .book-cover > img {
    width: 40%;
    margin:auto;
  }
  .book-panel {
    width:100%;
    margin-top:30px;
  }
  .book-cover {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .description > p{
    font-size: 15px;
  }
}

@media only screen and (max-width: 640px) {
  #main {
    width: 90%;
  }
  .row {
    flex-direction: column;
  }
  .book-panel {
    width:100%;
    margin-top:30px;
  }
  .book-cover {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .description > p{
    font-size: 15px;
  }
}
